[Desktop Entry]
Version=1.0
Name=GlobeDex
Comment= GBDX P2P Cryptocurrency
Comment[fr]= GBDX, monnaie virtuelle cryptographique pair à pair
Comment[tr]= GBDX, eşten eşe kriptografik sanal para birimi
Exec=globedex-qt %u
Terminal=false
Type=Application
Icon=globedex128
MimeType=x-scheme-handler/globedex;
Categories=Office;Finance;
StartupWMClass=GlobeDex-qt
